@font-face {
    font-family: 'amanda';
    src: url('./newFont/Stenciles.ttf') format('truetype');
  }
  body{
    font-family: 'amanda', sans-serif;
  }
  h1{
    text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px, rgb(99, 170, 255) 0px 0px 20px, rgb(99, 170, 255) 0px 0px 30px, rgb(99, 170, 255) 0px 0px 40px, rgb(99, 170, 255) 0px 0px 55px, rgb(99, 170, 255) 0px 0px 75px;
    font-size: 60px;
   color: #fff;
  }
  .square {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
  }

  .square::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 20px solid #ff0000; /* Цвет и высота зарисованного угла */
    border-right: 20px solid transparent;
    transform-origin: 0 0;
    transform: rotate(45deg); /* Поворот на 45 градусов, чтобы образовать галочку */
  }

  .tick {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40px;
    height: 8px;
    border-bottom: 3px solid #ff0000; /* Цвет и высота линии галочки */
    transform-origin: 0 0;
    transform: rotate(-45deg); /* Поворот на -45 градусов для наклона галочки */
  }